<h3>{{viewTitle}}</h3>

<form action="/product" method="POST" autocomplete="off">
    
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Product Id</label>
        <input type="text" class="form-control" name="productId" placeholder="Product Id" value="{{product.productId}}">
        <div class="text-danger">
            {{product.ProductIdError}}</div>
    </div>
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="productName" placeholder="Product Name" value="{{product.productName}}">
        <div class="text-danger">
            {{product.ProductNameError}}</div>
    </div>

    <div class="form-group">
{{product.categoryId}}
            <label for="categoryId">Category Id</label>
            <select class="form-control" id="categoryId" name="categoryId">
             {{#each catagory}}
             {{this.categoryId}}
            <option value="{{this.categoryId}}" {{#eq this.categoryId product.categoryId}} selected {{/eq}}> {{this.categoryName}}</option>
             {{/each}}
            </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        {{!-- <a class="btn btn-secondary" href="/category/list"><i class="fa fa-list-alt"></i> View All</a> --}}
        <a class="btn btn-secondary" href="/product/list/1"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>